<ul class="navbar-nav mr-auto">

    <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/admin/grupos">Grupos</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/admin/grupos/classificacoes">Classificação</a>
    </li>

    <% if (user) { %>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <% if (user.role == "ROOT") { %>
                    <a class="dropdown-item" href="/admin/games">Gerenciar</a>    
                <% } %>
                
                <a class="dropdown-item" href="/users/logout">Logout</a>
            </div>
        </li>
    <% } else { %>
        <li class="nav-item">
            <a class="nav-link " href="/users/new-account" >Cadastrar-se</a>
        </li>
    <% } %>
            <li class="nav-item">
                <% if (user) { %>
                    <a class="nav-link" ><%= user.name %></a>                                
                <% } else { %>
                    <a class="nav-link" href="/users/login">Entrar</a>
                <% }%>
    
            </li>

</ul>