<% include ./partials/header.ejs %>

        <header>

            <nav class="navbar navbar-expand-lg navbar-light green fixed-top scrolling-navbar">

                <div class="container">

                    <a class="navbar-brand" href="/">
                        <img src="/img-futiba-club/logo.png" height="30" alt="Futiba Club">
                    </a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7"
                        aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent-7">

                        <% include ./partials/menu.ejs %>
                    </div> <!-- Navbar Collapse -->

                </div> <!-- Container -->

            </nav> <!-- Navbar -->

        </header> <!-- Header -->

        <section class="content">

            <div class="container">

                <div class="row">

                    <form class="col" method="post" action="/users/login">

                        <% include ./partials/messageValidation.ejs %>

                        <div class="md-form">

                            <i class="fa fa-envelope prefix grey-text"></i>

                            <input type="text" id="orangeForm-email" 
                            class="form-control" name="email" value="<%= email %>">

                            <label for="orangeForm-email">E-mail</label>

                        </div> <!-- E-mail Login -->

                        <div class="md-form">

                            <i class="fa fa-lock prefix grey-text"></i>

                            <input type="password" id="orangeForm-pass"
                             class="form-control" name="password" value="<%= password %>" >

                            <label for="orangeForm-pass">Senha</label>

                        </div> <!-- Password Login -->

                        <div class="text-center">

                            <button class="btn btn-deep-orange">Entrar</button>

                        </div> <!-- Enter Login -->

                    </form> <!-- Login -->

                </div> <!-- Container -->

            </div>

        </section> <!-- Content -->

 <% include ./partials/footer.ejs %>